 body{
    background-color: #f4f4ff;
    color: #555555;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: rgb(250, 64, 8);
    color: #ffffff;
}

#navbar{
    background-color: #333333;
    color: #ffffff;
}

#navbar ul{
    padding: 0px;
    list-style: none;
}

#navbar li{
    display: inline;
    padding: 2px;
}

#navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover{
    color: red;
}

#navbar a:active{
    color: rgb(240, 211, 43);
}


#leftbox{
    width: 33.3%;
    min-height: 470px;
    float: left;
    background-image: url('../images/Nordic_Luxury.jpg');
    background-position: center right;
    background-size: 120%;
    margin-bottom: 20px;
}

#rightbox{
    width: 33.3%;
    min-height: 470px;
    float: left;
    background-image: url('../images/Athleisure.jpg');
    background-position: center;
    background-size: 160%;
    margin-bottom: 20px;
}

#midbox{
    width: 33.3%;
    min-height: 470px;
    float: left;
    background-image: url('../images/golf.jpg');
    background-position: center right;
    background-size: 230%;
    margin-bottom: 20px;
}


#leftbox h1{
    color: #ffffff;
    font-size: 45px;
    line-height: 1.6em;
    padding-top: 250px;
    padding-left: 70px;
    font-weight: 545;
}

#leftbox :hover{
    color: red;
}

#leftbox :active{
    color: rgb(240, 211, 43);
}


#midbox h1{
    color: #ffffff;
    font-size: 45px;
    line-height: 1.6em;
    padding-top: 250px;
    padding-left: 70px;
    font-weight: 545;
   
}

#midbox :hover{
    color: red;
}
#midbox :active{
    color: rgb(240, 211, 43);
}


#rightbox h1{
    color: #ffffff;
    font-size: 45px;
    line-height: 1.6em;
    padding-top: 250px;
    padding-left: 60px;
    font-weight: 545;
}

#rightbox :hover{
    color: red;
}

#rightbox :active{
    color: rgb(240, 211, 43);
}

#main{
    float: left;
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333333;
    color: #ffffff;
    padding: 30px 30px;
    box-sizing: border-box;
}


#main-footer{
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 30px;
    margin-top: 40px
}



@media(max-widtgh: 600px){
  #main{
    width: 100%;
    float: none;
  }

  #sidebar{
    width: 100%;
    float: none;
  }
}